.table {
  box-shadow: 0 0 0 1px #7e8081;
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  margin-top: 40px;
  color: #49bae6;
}

td,
th {
  border: 1px solid #7e8081;
  padding: 20px;
}

@media (max-width: 480px) {
  table {
    display: flex;
  }

  td,
  th {
    border: hidden;
  }

  thead,
  tbody,
  tr {
    display: flex;
    flex-direction: column;
  }

  tbody {
    align-items: flex-end;
  }

  table td::before {
    content: attr(label);
    font-weight: bold;
    width: 120px;
    min-width: 120px;
  }
}
